@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root{
    --orange: #FFA015;
    --yellow: #FFDD15;
    --red: #FF3131;
    --white: #FFF;
    --black: #000;
    --blue: #0000FF;
    --ligh-green: #00FF00;
    --dark-green: #09A409;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(./assets/bg-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    backdrop-filter: blur(15px);
}

.header h2{
    color: var(--white);
    text-align: center;
    font-size: 3.4rem;
    margin: 0 20px;
    font-weight: 800;
    -webkit-text-stroke-color: var(--orange);
    -webkit-text-stroke-width: 2px;
}

.header h3{
    color: var(--black);
    text-align: center;
    font-size: 1.1rem;
    font-style: italic;
    opacity: 0.5;
    margin: 0 12px;
}

.header h3 span{
    color: var(--red);
    font-style: unset;
}

.header p{
    margin-top: -3rem;
    margin-bottom: 4.2rem;
}

.header h4{
    font-size: .9rem;
    opacity: 0.4;
    text-align: center;
}

.form-box{
    position: relative;
    width: 600px;
    height: 350px;
    border: 3px solid rgba(211, 135, 11, 0.749);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box .input-box{
    position: relative;
    margin: 30px 22px;
    width: 550px;
    border-bottom: 2px solid var(--orange);
}

.form-box .input-box input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: var(--white);
    font-size: 16px;
}


input::placeholder{
    color: var(--white);
}

.btn{
    color: var(--red);
    background: var(--yellow);
    width: 80%;
    margin: 10px 60px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0,0,0,0.5);
}

.popup{
    width: 400px;
    background-color: var(--white);
    border-radius: 6px;
    position: absolute;
    top: 20%;
    left: 33%;
    /* transform: translate(-50%, -50%) scale(0); */
    transition: transform .4s, top .4s;
    /* visibility: hidden; */
    text-align: center;
    padding: 0 30px 30px;
    height: 350px;
    color: var(--black);
}

.popup ion-icon{
    color: var(--ligh-green);
    font-size: 50px;
}

.popup h2{
    color: var(--dark-green);
}

.popup p{
    text-align: justify;
    margin-bottom: 12px;
    opacity: 0.5;
}

.popup p span{
    color: var(--red);
    font-size: .8rem;
}

.popup button{
    width: 100%;
    background: var(--dark-green);
    padding: 3px 0;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

.popup a{
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}

.open-slide{
    top: 50%;
    /* transform: translate(-50%, -50%) scale(1); */
    visibility: visible;
}

.footer{
    margin-top: 10px;
    color: var(--white);
    opacity: 0.5;
}

@media (width < 769px){
    .header h2{
      font-size: 1.5rem;
    }
  }
  
  @media (width < 498px){
    .header h2{
      font-size: 1rem;
    }
  
    .header h3{
      font-size: .6rem;
    }
  
    .header h4{
      font-size: .8rem;
    }
  }