@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --orange: #FFA015;
  --yellow: #FFDD15;
  --red: #FF3131;
  --white: #FFF;
  --black: #000;
  --blue: #0000FF;
  --ligh-green: #00FF00;
  --dark-green: #09A409;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
  background: url(./assets/bg-2.jpg) no-repeat top center/cover;
  backdrop-filter: blur(18px);
  font-family: 'Poppins', sans-serif;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h2{
  font-size: 3rem;
  color: var(--white);
  font-style: italic;
}

.header h3{
  font-size: .9rem;
  opacity: 0.5;
}

.header h3 span{
  color: var(--red);
}

.header p{
  margin: 4px;
}

.header h4{
  color: var(--white);
  opacity: 0.9;
  text-align: center;
}

form {
  width: 100%;
  max-width: 30rem;
}

.content{
  margin-top: 15px;
  border: 3px solid rgba(221, 172, 11, 0.911);
  border-radius: .8rem;
  padding: 10px 20px;
}

label, input, textarea, button {
  display: block;
}

input, textarea {
  width: 100%;
  font: inherit;
  padding: .4rem;
  font-weight: 700;
}

input, textarea {
  margin-bottom: 1rem;
  /* color: #000; */
  background: var(--white);
  border: 0.125rem solid transparent;
  border-radius: .8rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover, input:focus, textarea:hover, textarea:focus {
  outline: none;
  border-color: 2px solid var(--blue);
}

input::placeholder{
  font-size: .8rem;
  color: var(--red);
  opacity: 0.6;
}

label {
  margin-bottom: 0.5rem;
  color: var(--yellow);
  font-weight: 600;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  width: 100%;
  font: inherit;
  padding: 1rem;
  font-weight: 700;

  border: none;
  border-radius: .4rem;
  color: var(--red);
  background: var(--yellow);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 2rem;
}

button:hover, button:focus {
  outline: none;
  background: var(--yellow);
  color: var(--dark-green);
}

button:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success, .error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}

.popup{
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 20%;
  left: 33%;
  /* transform: translate(-50%, -50%) scale(0); */
  transition: transform .4s, top .4s;
  /* visibility: hidden; */
  text-align: center;
  padding: 0 30px 30px;
  height: 350px;
  color: #000;
}

.popup ion-icon{
  color: #00ff00;
  font-size: 50px;
}

.popup h2{
  color: #09a409;
}

.popup p{
  text-align: justify;
  margin-bottom: 12px;
  opacity: 0.5;
}

.popup p span{
  color: red;
  font-size: .8rem;
}

.popup button{
  width: 100%;
  background: #09a409;
  padding: 3px 0;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

.popup a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.open-slide{
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}

.footer{
  margin-top: 5px;
  font-size: .9rem;
  color: var(--white);
  opacity: 0.5;
}

@media (width < 769px){
  .header h2{
    font-size: 1.5rem;
  }
}

@media (width < 498px){
  .header h2{
    font-size: 2rem;
  }

  .header h3{
    font-size: .6rem;
  }

  .header h4{
    font-size: .8rem;
  }
}